<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="ru.jimmo.edt.sonarq.ui.settings.PreferenceInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page id="ru.jimmo.edt.sonarq.ui.preferences.main"
            class="ru.jimmo.edt.sonarq.ui.preferences.SonarPreferencePage"
            name="%preferencePageName"/>
      <page id="ru.jimmo.edt.sonarq.ui.preferences.bslChecks"
            category="ru.jimmo.edt.sonarq.ui.preferences.main"
            class="ru.jimmo.edt.sonarq.ui.preferences.BslChecksPreferencePage"
            name="%bslChecksPageName"/>
   </extension>
   <extension point="org.eclipse.ui.propertyPages">
      <page id="ru.jimmo.edt.sonarq.ui.properties.project"
            class="ru.jimmo.edt.sonarq.ui.preferences.SonarProjectPropertyPage"
            name="%propertyPageName">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
   </extension>
   <extension point="org.eclipse.ui.views">
      <category id="ru.jimmo.edt.sonarq.ui.category" name="%viewCategoryName"/>
      <view id="ru.jimmo.edt.sonarq.ui.views.issues"
            category="ru.jimmo.edt.sonarq.ui.category"
            class="ru.jimmo.edt.sonarq.ui.views.SonarIssuesView"
            icon="icons/sonarqube.png"
            name="%issuesViewName"/>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup class="ru.jimmo.edt.sonarq.ui.SonarqStartup"/>
   </extension>
   <extension id="issue" point="org.eclipse.core.resources.markers" name="%markerName">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
      <attribute name="ruleKey"/>
      <attribute name="sonarSeverity"/>
      <attribute name="issueKey"/>
   </extension>
</plugin>
